@import "./colors.scss";

.join-dapp {
    min-height: 100vh;
    background-color: $pink-700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    div {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        p {
            font-size: 52px;
            color: $pink-300;
            text-align: center;
            line-height: 1.1;
            letter-spacing: -1px;
            @media screen and (max-width: 768px) {
                font-size: 42px;
            }

            @media screen and (max-width: 480px) {
                font-size: 32px;
            }
        }
        a {
            padding: 20px 80px;
            background-color: $pink-300;
            border-radius: 1000px;
            font-size: 30px;
            color: $pink-700;
            font-weight: bold;
            text-decoration: none;
            &:hover {
                background-color: $pink-400;
            }
        }
    }
}
